<style>
  @import url('https://fonts.googleapis.com/css2?family=Abel&family=Anta&family=Crimson+Text:wght@600;700&family=Lora:wght@400..700&display=swap')
</style>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,500;1,500&family=Nunito:ital,wght@0,300;1,300&family=Ojuju:wght@300&family=Roboto+Condensed:ital@0;1&display=swap')
</style>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,500;1,500&family=Lora:ital,wght@0,500;1,500&family=Nunito:ital,wght@0,300;1,300&family=Ojuju:wght@300&family=Playfair+Display:ital,wght@0,600;1,600&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital@0;1&display=swap')
</style>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&family=Josefin+Sans:ital,wght@0,500;1,500&family=Lora:ital,wght@0,500;1,500&family=Nunito:ital,wght@0,300;1,300&family=Ojuju:wght@300&family=Playfair+Display:ital,wght@0,600;1,600&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital@0;1&display=swap')
</style>

<table mat-table class="custom-table" [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
       class="mat-elevation-z8">

  <ng-container matColumnDef="bank">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="bank">
      Bank
    </th>
    <td mat-cell *matCellDef="let element" class="bank-column" (mouseenter)="onMouseEnter(element)" (mouseleave)="onMouseLeave()"><img [src]="element.bankIcon" class="image-size" /> {{element.bank}} </td>
  </ng-container>

  <ng-container matColumnDef="publishDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="publishDate">
      <div style="display: flex; justify-content: center">
        Date
      </div>
    </th>
    <td mat-cell *matCellDef="let element" class="font-style">
      {{getDateString(element.date)}}
    </td>
  </ng-container>

  <ng-container matColumnDef="cur1">
    <th mat-header-cell *matHeaderCellDef style="max-width:100px">
      <div style="display: flex; justify-content: center">
        <div style="width: fit-content ">
          <mat-form-field style="max-width:120px" appearance="outline">
            <mat-select style="text-align:center" [(ngModel)]="selected1" class="curr-style">
              <mat-select-trigger>
                <img [src]="selected1.iconURL" style="margin-right: 5px; width:25px;height:15px">{{selected1.name}}{{ selected1.symbol }}
              </mat-select-trigger>
              <mat-option *ngFor="let cur of curs" [value]="cur" class="curr-style">
                <img [src]="cur.iconURL" style="margin-right: 2px;">{{cur.name}}{{cur.symbol}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div style="display:flex; align-items:center; width: 100%;  ">
        <div style="width:50%; border-right:1px solid black">Buy</div>
        <div style="width:50%">Sell</div>
      </div>

    </th>
    <td mat-cell *matCellDef="let element" (click)="emitSelectedData(element, selected1)">
      <div style="display:flex; align-items:center; width: 100%;">
        <div style="width:50%" [class.highlight-min]="getCurrency(element,selected1.name).buy == getHighestBuyValue(element,selected1.name)" [class.visibility]="getCurrency(element,selected1.name).buy == 0">{{ getCurrency(element,selected1.name).buy }}</div>
        <div style="width:50%" [class.highlight-max]="getCurrency(element,selected1.name).sell == getLowestSellValue(element,selected1.name)" [class.visibility]="getCurrency(element,selected1.name).sell == 0">{{ getCurrency(element,selected1.name).sell }}</div>
      </div>
    </td>
  </ng-container>


  <ng-container matColumnDef="cur2">
    <th mat-header-cell *matHeaderCellDef style="max-width:100px">
      <div style="display: flex; justify-content: center">
        <div style="width:fit-content">
          <mat-form-field style="max-width:120px" appearance="outline">
            <mat-select style="text-align:center" [(ngModel)]="selected2" class="curr-style">
              <mat-select-trigger>
                <img [src]="selected2.iconURL" style="margin-right: 5px; width: 25px; height: 15px">{{ selected2.name }}{{ selected2.symbol }}
              </mat-select-trigger>
              <mat-option *ngFor="let cur of curs" [value]="cur" class="curr-style">
                <img [src]="cur.iconURL" style="margin-right: 2px;">{{ cur.name }}{{cur.symbol}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div style="display:flex; align-items:center; width: 100%;">
        <div style="width:50%; border-right:1px solid black">Buy</div>
        <div style="width:50%">Sell</div>
      </div>

    </th>
    <td mat-cell *matCellDef="let element" (click)="emitSelectedData(element, selected2)">
      <div style="display:flex; align-items:center; width: 100%;">
        <div style="width:50%" [class.highlight-min]="getCurrency(element,selected2.name).buy == getHighestBuyValue(element,selected2.name)" [class.visibility]="getCurrency(element,selected2.name).buy == 0">{{ getCurrency(element,selected2.name).buy }}</div>
        <div style="width:50%" [class.highlight-max]="getCurrency(element,selected2.name).sell == getLowestSellValue(element,selected2.name)" [class.visibility]="getCurrency(element,selected2.name).sell == 0">{{ getCurrency(element,selected2.name).sell }}</div>
      </div>
    </td>
  </ng-container>


  <ng-container matColumnDef="cur3">
    <th mat-header-cell *matHeaderCellDef style="max-width:100px">
      <div style="display: flex; justify-content: center">
        <div style="width:fit-content">
          <mat-form-field style="max-width:120px" appearance="outline">
            <mat-select style="text-align:center" [(ngModel)]="selected3" class="curr-style">
              <mat-select-trigger>
                <img [src]="selected3.iconURL" style="margin-right: 5px; width: 25px; height: 15px">{{ selected3.name }}{{ selected3.symbol }}
              </mat-select-trigger>
              <mat-option *ngFor="let cur of curs" [value]="cur" class="curr-style">
                <img [src]="cur.iconURL" style="margin-right: 2px;">{{ cur.name }}{{cur.symbol}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div style="display:flex; align-items:center; width: 100%;">
        <div style="width:50%; border-right:1px solid black">Buy</div>
        <div style="width:50%">Sell</div>
      </div>

    </th>
    <td mat-cell *matCellDef="let element" (click)="emitSelectedData(element, selected3)">
      <div style="display:flex; align-items:center; width: 100%;">
        <div style="width:50%" [class.highlight-min]="getCurrency(element,selected3.name).buy == getHighestBuyValue(element,selected3.name)" [class.visibility]="getCurrency(element,selected3.name).buy == 0">{{ getCurrency(element,selected3.name).buy }}</div>
        <div style="width:50%" [class.highlight-max]="getCurrency(element,selected3.name).sell == getLowestSellValue(element,selected3.name)" [class.visibility]="getCurrency(element,selected3.name).sell == 0">{{ getCurrency(element,selected3.name).sell }}</div>
      </div>
    </td>
  </ng-container>


  <ng-container matColumnDef="cur4">
    <th mat-header-cell *matHeaderCellDef style="max-width:100px">
      <div style="display: flex; justify-content: center">
        <div style="width:fit-content">
          <mat-form-field style="max-width:120px" appearance="outline">
            <mat-select style="text-align:center" [(ngModel)]="selected4" class="curr-style">
              <mat-select-trigger>
                <img [src]="selected4.iconURL" style="margin-right: 5px; width: 25px; height: 15px">{{ selected4.name }}{{ selected4.symbol }}
              </mat-select-trigger>
              <mat-option *ngFor="let cur of curs" [value]="cur" class="curr-style">
                <img [src]="cur.iconURL" style="margin-right: 2px;">{{ cur.name }}{{cur.symbol}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div style="display:flex; align-items:center; width: 100%;">
        <div style="width:50%; border-right:1px solid black">Buy</div>
        <div style="width:50%">Sell</div>
      </div>

    </th>
    <td mat-cell *matCellDef="let element" (click)="emitSelectedData(element, selected4)">
      <div style="display:flex; align-items:center; width: 100%;">
        <div style="width:50%" [class.highlight-min]="getCurrency(element,selected4.name).buy == getHighestBuyValue(element,selected4.name)" [class.visibility]="getCurrency(element,selected4.name).buy == 0">{{ getCurrency(element,selected4.name).buy }}</div>
        <div style="width:50%" [class.highlight-max]="getCurrency(element,selected4.name).sell == getLowestSellValue(element,selected4.name)" [class.visibility]="getCurrency(element,selected4.name).sell == 0">{{ getCurrency(element,selected4.name).sell }}</div>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="cur5">
    <th mat-header-cell *matHeaderCellDef style="max-width: 100px;">
      <div style="display: flex; justify-content: center;">
        <div style="width: fit-content;">
          <mat-form-field style="max-width: 120px" appearance="outline">
            <mat-select style="text-align:center" [(ngModel)]="selected5" class="curr-style">
              <mat-select-trigger>
                <img [src]="selected5.iconURL" style="margin-right: 5px; width: 25px; height: 15px">{{ selected5.name }}{{ selected5.symbol }}
              </mat-select-trigger>
              <mat-option *ngFor="let cur of curs" [value]="cur" class="curr-style">
                <img [src]="cur.iconURL" style="margin-right: 2px;">{{ cur.name }}{{cur.symbol}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div style="display:flex; align-items:center; width: 100%;">
        <div style="width:50%; border-right:1px solid black">Buy</div>
        <div style="width:50%">Sell</div>
      </div>

    </th>
    <td mat-cell *matCellDef="let element" (click)="emitSelectedData(element, selected5)">
      <div style="display:flex; align-items:center; width: 100%;">
        <div style="width:50%" [class.highlight-min]="getCurrency(element,selected5.name).buy == getHighestBuyValue(element,selected5.name)" [class.visibility]="getCurrency(element,selected5.name).buy == 0">{{ getCurrency(element,selected5.name).buy }}</div>
        <div style="width:50%" [class.highlight-max]="getCurrency(element,selected5.name).sell == getLowestSellValue(element,selected5.name)" [class.visibility]="getCurrency(element,selected5.name).sell == 0">{{ getCurrency(element,selected5.name).sell }}</div>
      </div>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

