body {
  font-family: Arial, sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}

.mat-mdc-header-row {
  background-color: #9aae9ba6;
}

  .mat-mdc-header-row:hover {
    background-color: #9aae9ba6;
  }

tr:hover {
  background-color: #79907a26;
}

td:nth-last-child(-n+5):hover {
  cursor:pointer;
}
select {
  width: 100%;
  padding: 5px;
}

.bank-column {
  text-align: start;
  font-size: 16px;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.font-style {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  width: fit-content;
  font-size: 13px
}

.curr-style {
  font-family: "Roboto Condensed", sans-serif;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

th {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 17px
}

.image-size {
  width: 30px !important;
  height: 15px !important;
}

.custom-table .mat-table {
  width: 100%;
  border-collapse: collapse;
}

.custom-table .mat-header-cell,
.custom-table .mat-cell {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
  background-color: red;
  box-sizing: border-box;
}


/*host menak et komponentina verabervum, ng-deep : arajnayin style a sarqum*/
:host ::ng-deep .mat-sort-header-container {
  justify-content: center;
}

:host ::ng-deep .mat-mdc-form-field-type-mat-select:not(.mat-form-field-disabled) .mat-mdc-text-field-wrapper {
  background-color: whitesmoke;
}


.highlight-max {
  color: red;
}

.highlight-min {
  color: darkgreen;
  font-weight: bold;
}

.visibility {
  visibility: hidden;
}
