.parent-container {
}

.table-container {
  margin: 0 auto;
  width: 90vw;
  padding: 20px;
}

.center {
  text-align: center;
  background-color :darkslategrey;
  width: 90vw;
  padding-top: 10px; 
  padding-bottom: 10px;
  margin: 0 auto;
  margin-top: 20px;
  color:white;
}

table {
  width: auto;
  box-sizing: content-box;
}
